{% extends "blog_base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}



{% block body_class %}template-blogindexpage{% endblock %}

{% block blog_content %}
    {#    static nav for now#}

    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic main-feature-post">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="intro">{{ page.intro|richtext }}</div>
        {#    {% for block in page.body %}#}
        {#        {% include_block block %}#}
        {#    {% endfor %}#}

        {% for post in blogpages %}
            {% with post=post.specific %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

                {% with post.main_image as main_image %}
                    {% if main_image %}
                        {% image main_image fill-160x100 %}
                    {% endif %}
                {% endwith %}
                <p>{{ post.intro }}</p>
                {{ post.body|richtext }}
            {% endwith %}

        {% endfor %}
    </div>
{% endblock %}